.p-1{
 text-align: center;
 color: cornsilk;
 background-color: rgb(196, 109, 48);

}


.link-1{
    color: cornsilk;
}

.v-menu{
  width: 200px;
}

.v-menu ul{
 margin: 16px 0;
 padding: 0;
  background-color: #ccc;
}

.v-menu li a {
   display: block;
   color: white;
   padding: 8px 16px;
   text-decoration: none;

}

.v-menu li a:hover{
    background-color: black;
}