
.link-1{
 color: cornsilk;
}

.v-menu ul{
 margin:  0;
 padding: 0;
 overflow: hidden;
}

.v-menu li{
 display: inline;
 float: left;
}

.v-menu li a {
 display: block;
 color: rgb(255, 247, 247);
 padding: 16px 16px;
 text-decoration:none;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 14px;
}

.v-menu li a:hover{
 color: gray;
}

.p-1{
 margin-bottom: auto;
 margin-top: 0;
 text-align: center;
 color: cornsilk;
 background-color: rgb(174, 148, 109); 
 padding-top: 12px;
 padding-bottom: 12px;
 
}

.v-menu{
 margin-top: 0;
 margin-bottom: 0;
 background-color: black;

}

.psqs{
 margin-top: 16px;
 background-color: black;
 color: gray;
}

.logo{
 overflow: hidden;
 display: inline;
 float: left;
 margin-top: 18px;
}